config ASIC
    bool
    default y

config TOUCH_IRQ_PIN
    int
    default 17

config BSP_SUPPORT_DSI
    bool
    default y
    depends on BF0_HCPU

config BSP_SUPPORT_DSI_VIDEO
    bool
    default y
    depends on BF0_HCPU

config BSP_SUPPORT_DPI
    bool
    default y
    depends on BF0_HCPU


config LCD_USE_GPIO_TE
    int
    depends on LCD_USING_ILI8688E_DSI
    default 43

config LCD_PWM_BACKLIGHT_INTERFACE_NAME
    string
    default "pwmt2"

config LCD_PWM_BACKLIGHT_CHANEL_NUM
    int
    default 4
