#APP specific configuration.
config CUSTOM_MEM_MAP
    bool
	select custom_mem_map
	default y if !SOC_SIMULATOR

config SOLUTION_ALLOC_MEM
    bool
    default y

config IW_TOUCH_THREAD_STACK_SIZE
    int "iwatch touch thread stack size"
    range 1024 4096
    default 2048
    help
        本项目替换版 SiFli 触摸驱动所使用的 tpread 线程栈大小，单位为字节。

menu "app cache Memory configuration"

choice
    prompt "rotation image preferred cache memory"
    default  ROTATE_MEM_IN_PSRAM
    config ROTATE_MEM_IN_PSRAM
        depends on BSP_USING_PSRAM
        bool "PSRAM"
    config ROTATE_MEM_IN_SRAM
        bool "SRAM"
endchoice

choice
    prompt "tiny ttf cache memory"
    default  TINY_TTF_CACHE_IN_PSRAM
    config TINY_TTF_CACHE_IN_PSRAM
        depends on BSP_USING_PSRAM
        bool "PSRAM"
    config TINY_TTF_CACHE_IN_SRAM_STANDALONE
        bool "SRAM STANDALONE"
    config TINY_TTF_CACHE_IN_SRAM
        bool "SRAM(Share with system heap)"
endchoice


choice
    prompt "message preferred cache memory"
    default  MESSAGE_CACHE_IN_PSRAM
    config MESSAGE_CACHE_IN_PSRAM
        depends on BSP_USING_PSRAM
        bool "PSRAM"
    config MESSAGE_CACHE_IN_SRAM_STANDALONE
        bool "SRAM STANDALONE"
    config MESSAGE_CACHE_IN_SRAM
         bool "SRAM(Share with system heap)"
endchoice


config IMAGE_CACHE_IN_PSRAM_SIZE
    int "image cache in psram size(standalone)"
    depends on BSP_USING_PSRAM
    default 2100000

config IMAGE_CACHE_IN_PSRAM_SIZE
    int
    depends on !BSP_USING_PSRAM
    default 0

config IMAGE_CACHE_IN_SRAM_SIZE
    int "image cache in sram size(standalone)"
    default 200000


config TINY_TTF_CACHE_SIZE
    int "tiny ttf draw buf cache size(bytes)"
    help
        "Maximum tiny ttf draw buffer cache size, and define a standalone
         array(size equals TINY_TTF_CACHE_SIZE) if define
         TINY_TTF_CACHE_IN_PSRAM or TINY_TTF_CACHE_IN_SRAM_STANDALONE"
    default 120000 if TINY_TTF_CACHE_IN_PSRAM
    default 80000 if TINY_TTF_CACHE_IN_SRAM_STANDALONE
    default 60000 if TINY_TTF_CACHE_IN_SRAM


config MESSAGE_CACHE_SIZE
    int "message standalon cache size(bytes)"
    depends on MESSAGE_CACHE_IN_PSRAM || MESSAGE_CACHE_IN_SRAM_STANDALONE
    default 96000 if MESSAGE_CACHE_IN_PSRAM
    default 16000 if MESSAGE_CACHE_IN_SRAM_STANDALONE


endmenu
